{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Registro de Usuario</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tipoUsuarioField = document.querySelector('#id_tipo_usuario');
        const planField = document.querySelector('#id_plan').closest('.form-group');
        const nivelField = document.querySelector('#id_nivel').closest('.form-group');

        function toggleFields() {
            if (tipoUsuarioField.value === 'atleta') {
                planField.style.display = '';
                nivelField.style.display = '';
            } else {
                planField.style.display = 'none';
                nivelField.style.display = 'none';
            }
        }

        tipoUsuarioField.addEventListener('change', toggleFields);
        toggleFields();  // Ejecutar al cargar la página
    });
</script>
{% endblock %}