{% extends "plantillaPadre.html" %}
{% load static %}
{% block content %}


    <div class="form-container1 crossfit-mark">
        <h1>Perfil de Atleta</h1>
        
        <form>
            <div class="form-group">
                <label for="nombre">Nombre completo</label>
                <input type="text" id="nombre" value="Juan José Núñez López">
            </div>
            
            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="number" id="edad" value="39">
            </div>
            
            <div class="form-group">
                <label for="genero">Género</label>
                <input type="text" id="genero" value="Masculino">
            </div>
            
            <div class="form-group">
                <label for="altura">Altura</label>
                <input type="text" id="altura" value="175 cm">
            </div>
            
            <div class="form-group">
                <label for="peso">Peso</label>
                <input type="text" id="peso" value="77 kg">
            </div>
            
            <div class="plan-info">
                <strong>Plan actual:</strong> 12 clases en Box LeytonLabs (ACTIVO)
            </div>
            
            <div class="buttons">
                <button type="submit" class="save-btn">Guardar</button>
                <button type="button" class="cancel-btn">Cancelar</button>
            </div>
        </form>
    </div>
<link type="text/css" href='{% static "css/form.css" %}' rel="stylesheet"/>
{% endblock %}